<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "Connection" connectionString="Provider = Microsoft.ACE.OLEDB.12.0; Data Source =C:\\Users\\ggxdi\\Desktop\\Senior Project\\GuiEmployeeDatabase\\Resources\\EmployeeDatabase.accdb;Persist Security Info=False;"/>
		<add name = "Connection2" connectionString="Provider = Microsoft.ACE.OLEDB.12.0; Data Source=C:\\Users\\ggxdi\\Desktop\\Senior Project\\GuiEmployeeDatabase\\Resources\\EmployeeDatabase.accdb;Persist Security Info=False;"/>
		<add name = "SoftDatabaseConnection" connectionString="Provider = Microsoft.ACE.OLEDB.12.0; Data Source =..\\..\\..\\..\\GuiEmployeeDatabase\\Resources\\EmployeeDatabase.accdb;Persist Security Info=False;"/>
	</connectionStrings>
</configuration>